.main {
	width: 80%;
	margin: auto;
}

.main > * {
	margin-top: 10px;
	margin-bottom: 10px;
}

.container {
	border: solid 1px #000;
	height: 100%;
}

.row .container {
	border:none;
}

.row {
	border: solid 1px #000;
	border-left: none;
	border-right: none;
}

.row:first-child {
	border-top:none;
}

.row:last-child {
	border-bottom:none;
}

.row .row:nth-child(2n - 1) {
	background-color:red;
}

.row > * {
	border: solid 1px #000;
	border-top:none;
	border-bottom: none;
}

.row > *:first-child {
	border-left:none;
}

.row > *:last-child {
	border-right:none;
}

